<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DNS Services</title>
</head>

<body>

    <div>
        <div>
            <h1>Home page: <a href="{% url 'home_page' %}"> Home</a>      </h1>         
    </div>
          
    </div>

    <div>
            <h4> <a href="https://github.com/bardianz/dns-changer"> Github page</a>      </h4>         
    </div>

    <div>
        <h2>List of DNS services:</h2>
        <p dir="auto">
            {{help_content.content}}
        </p>
    </div>



</body>

</html>