<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DNS Services</title>
</head>

<body>

    <div>
            <h1>DNS Services</h1>
            <h4>Hi, this is a free website for all persian programmers, gamers, ...</h4>

    </div>

    <div>
            <h3>Our API page: <a href="{% url 'api_home' %}"> Go to API page</a>      </h3>         
    </div>

    <div>
            <h4> <a href="https://github.com/bardianz/dns-changer"> Github page</a>      </h4>         
    </div>

    <div>
        <h2>List of DNS services:</h2>

        <ol>
            {% for server in servers %}
            <li>
                <ul>
                    <li>Name: {{ server.name }}</li>
                    <li>Prefred IP :{{ server.prefred_ip }}</li>
                    <li>Alternate IP : {{ server.alternate_ip }}</li>
                    <li>-------------------------</li>
                </ul>
            </li>
            {% endfor %}
        </ol>
    </div>



</body>

</html>