{% extends "base.html" %}

{% block content %}


    <div class="container">
        <div class="div my-2 p-2">
            <h2>List of DNS Servers:</h2>
            <div class="list-group">

                {% for server in servers %}
                <a href="#" class="list-group-item list-group-item-action mb-1">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">Name: {{ server.name }}</h5>
                        <span class="badge text-body-secondary rounded-pill">Active</span>

                    </div>
                    <p class="mb-1">Prefred IP :{{ server.prefred_ip }}</p>
                    <p class="mb-1">Alternate IP : {{ server.alternate_ip }}</p>
                    <small class="text-body-secondary">Desc</small>
                </a>
                {% endfor %}
            </div>

        </div>

    </div>
</div>



{% endblock %}